body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center the container */
  align-items: center; /* Horizontally center the container */
  height: 100vh;
  margin: 0;
  background-color: #f9e6e9;
}

.header {
  text-align: left;
  margin-bottom: 10px;
  width: 25%;
}

.header img {
  max-width: 120px;
  margin-bottom: 5px;
}

.Title {
  text-align: center;
}

.container {
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: max-content;
  max-width: 400px;
  margin-left: 0; /* Align the container to the left */
  margin-right: auto; /* Push the container to the left while keeping it horizontally centered */
  box-sizing: border-box;
  aspect-ratio: 4 / 3;
}

h1 {
  font-size: 24px;
  color: #c41230;
  word-wrap: break-word;
  margin: 0;
}

h2 {
  font-size: 20px;
  color: #b8906e;
  margin: 10px 0;
}

input[type="password"],
input[type="text"] {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #b8906e;
  box-sizing: border-box;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #c41230;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 15px;
}

button:hover {
  background-color: #004d40;
}

#result,
#password-result {
  margin-top: 20px;
  font-size: 16px;
}

#result {
  color: #388e3c;
}

#password-result {
  color: #d32f2f;
}

#riddle-container img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@media (max-width: 600px) {
  body {
    align-items: flex-start; /* Horizontally center the container */
    margin-left: 15%;
  }
  .container {
    width: max-content;
    padding: 20px;
    aspect-ratio: 4 / 3;
  }

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 18px;
  }
}
